<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  	<title>List des Services</title>
	<th:block th:include="fragment/adminFragment :: headinc"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<header class="main-header" >
	<!-- header from the page fragment/adminFragment.html -->
	<th:block th:include="fragment/adminFragment :: header"></th:block>
	</header>
    
    <aside  class="main-sidebar" >
    <!-- aside from the page fragment/adminFragment.html -->
	<th:block th:include="fragment/adminFragment :: aside"></th:block>
  	</aside>
  	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Liste des services</h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/Admin/Index}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Service</li>
        <li class="active">Liste</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
					<th>Id</th>
					<th>Libelle</th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
                </thead>
                <tbody>
                <tr th:each="s:${services}">
					<td th:text="${s.idService}"></td>
					<td th:text="${s.service_libelle}"></td>
					<td><a th:href="@{/Service/AjouterOuModifierService(id=${s.idService})}" ><button class="btn btn-primary">Modifier</button></a></td>
					<td><a onclick = "return confirm('Etes vous sure?')" th:href="@{/Service/SuppService(id=${s.idService})}" ><button class="btn btn-danger">Supprimer</button></a></td>
				</tr>
                </tbody>
                <tfoot>
                <tr>
                  	<th>Id</th>
					<th>Libelle</th>
					<th>Modifier</th>
					<th>Supprimer</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<footer class="main-footer">
	<th:block th:include="fragment/adminFragment :: footer"></th:block>
</footer>
</div>
<!-- ./wrapper -->

<th:block th:include="fragment/adminFragment :: scriptinc"></th:block>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
  })
</script>
</body>
</html>
