<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>One Page To Test Them All</title>
<link rel="stylesheet" th:href="@{/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css}">
</head>
<body style="margin-top: 40px;">
<div class="container">
	<h1>Ajouter Service</h1>
	<fieldset>
		<legend>Form de service</legend>
		<form th:action="@{AjouterService}" method="post" class="form-group" th:object="${service}">
			<input type="hidden" th:field="*{idService}" class="form-group"/> 
			<input type="text" th:field="*{service_libelle}" placeholder="Service Libelle" class="form-group"/> 
			<input type="submit" name="sub" value="Submit" class="btn btn-primary"/>
		</form>
	</fieldset>
	<br>
	<br>
	<table class="table table-striped" >
		<tr>
			<th>Id</th>
			<th>libelle</th>
			<th>modifier</th>
			<th>supprimer</th>
		</tr>

		<tr th:each="s:${services}">
			<td th:text="${s.idService}"></td>
			<td th:text="${s.service_libelle}"></td>
			<td><a th:href="@{Index(id=${s.idService})}" ><button class="btn btn-primary">Modifier</button></a></td>
			<td><a onclick = "return confirm('Etes vous sure?')" th:href="@{SuppService(id=${s.idService})}" ><button class="btn btn-danger">Supprimer</button></a></td>
		</tr>
	</table>
</div>
</body>
</html>